<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://www.google.com/recaptcha/api.js?render={{ site_key}}"></script>


</head>
<body>

  <div class="container">
    {# templates/task/new.html.twig #}
    {# this form theme will be applied only to the form of this template #}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {# ... #}
    <input type="text" name="form_recapture" id="form_recapture" style="display:none;" value="">
    {{ form_end(form) }}

  </div>

  <script>
  // function onClick(e) {
  //   e.preventDefault();
  //   grecaptcha.ready(function() {
  //     grecaptcha.execute('{{ site_key}}', {action: 'submit'}).then(function(token) {
  //       // Add your logic to submit to your backend server here.
  //       alert(token)
  //       $(document).ready(function(){
  //         $("#form_recapture").val("token");
  //       });
  //     });
  //   });
  // }
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ site_key}}', {action: 'submit'}).then(function(token) {
      // Add your logic to submit to your backend server here.
      // alert(token)
      $(document).ready(function(){
        $("#form_recapture").val(token);
      });
    });
  });
  </script>

</body>
</html>
